target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Logs ###
*.log

### Mac ###
.DS_Store

### Env ###
.env
application-local.properties